iframe {
  vertical-align: top;
}

/**
 * Modal
 */
body.is-fixed {
  overflow: hidden;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.6s, visibility 0.6s;
  transition: opacity 0.6s, visibility 0.6s;
}
.overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1001;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  max-width: 1000px;
  background: #fff;
  -webkit-transition: opacity 0.6s, visibility 0.6s;
  transition: opacity 0.6s, visibility 0.6s;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
}
.modal__inner {
  max-height: 70vh;
  padding: 30px;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: #000;
  cursor: pointer;
}
.close::before, .close::after {
  content: "";
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: auto;
  background: #fff;
}
.close::before {
  width: 30px;
  height: 2px;
}
.close::after {
  width: 2px;
  height: 30px;
}