iframe {
	vertical-align: top;
}

/**
 * Modal
 */

// 背景固定
body {
	&.is-fixed {
		overflow: hidden;
	}
}

// 周りの黒い部分
.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	background: rgba(#000, 0.7);
	transition: opacity 0.6s, visibility 0.6s;
	&.is-open {
		opacity: 1;
		visibility: visible;
	}
}

// モーダル本体
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;
	transform: translate(-50%, -50%);
	width: calc(100% - 40px);
	max-width: 1000px;
	background: #fff;
	transition: opacity 0.6s, visibility 0.6s;
	&.is-open {
		opacity: 1;
		visibility: visible;
	}
	&__inner {
		max-height: 70vh;
		padding: 30px;
		overflow-y: auto;
	}
}

// 閉じるボタン
.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: #000;
	cursor: pointer;
	&::before,
	&::after {
		content: "";
		display: inline;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: rotate(45deg);
		margin: auto;
		background: #fff;
	}
	&::before {
		width: 30px;
		height: 2px;
	}
	&::after {
		width: 2px;
		height: 30px;
	}
}
